nt-blue {
	background-color: blue;
}
nt-blue-border {
  border-color: blue;
}
nt-red {
  background-color: red;
}
nt-red-border {
  border-color: red;
}
nt-smooth_blue {
  background-color: #0384fc;
}
nt-smooth_blue-border {
  border-color: #0384fc;
}